.cart{
    padding: 5px;
    border: solid 1px;
    cursor: pointer;
}

.cart:hover{
    background-color: gray;
    zoom: 115%;
    color: white;
}

.grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}